.App {
  text-align: center;
}

.firstPage {
  background-color: rgb(225, 225, 249);
  width: 90%;
  height: 500px;
  margin-left: 5%;
  margin-top: 5%;
  padding-top: 10px;
}

.text1 {
  margin-top: 5%;
}

.text2 {
  height: 40px;
}
